In [119]:
import os
import pandas as pd
import numpy as np
import json
import warnings
from sklearn.model_selection import TimeSeriesSplit
from datetime import datetime
from zipline.utils.factory import load_bars_from_yahoo
import pytz
import numpy as np
from sklearn import model_selection
from sklearn import preprocessing
import matplotlib.pyplot as plt
import ystockquote

In [19]:
symbols = ['A', 'AA', 'AAP']#, 'ABBV', 'ABT', 'ACN', 'ADBE', 'AES', 'AET', 'AFL']
start = datetime(2000, 1, 1, 0, 0, 0, 0, pytz.utc)
end = datetime(2016, 4, 30, 0, 0, 0, 0, pytz.utc)
dates = pd.date_range(start,end)

In [89]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-24',
               '2016-04-25', '2016-04-26', '2016-04-27', '2016-04-28',
               '2016-04-29', '2016-04-30'],
              dtype='datetime64[ns, UTC]', length=5965, freq='D')

In [34]:
dates = pd.date_range('2011-10-13', '2016-10-12')
dates

DatetimeIndex(['2011-10-13', '2011-10-14', '2011-10-15', '2011-10-16',
               '2011-10-17', '2011-10-18', '2011-10-19', '2011-10-20',
               '2011-10-21', '2011-10-22',
               ...
               '2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-08', '2016-10-09', '2016-10-10',
               '2016-10-11', '2016-10-12'],
              dtype='datetime64[ns]', length=1827, freq='D')

In [5]:
def get_data(symbols, dates):
    df = pd.DataFrame(index=dates)
    data = []
    for symbol in symbols:
        df_temp = pd.read_csv(os.path.join("Data/table_{}.csv".format(str(symbol))), index_col='Date',
                              parse_dates=True, usecols=['Date', 'Adj Close'], na_values=['nan'])
        df_comp = pd.read_csv(os.path.join("Data/table_{}.csv".format(str(symbol))), index_col='Date',
                              parse_dates=True, na_values=['nan'])
        data.append(df_comp)
        df_temp = df_temp.rename(columns={'Adj Close': symbol})
        #print df_temp
        df = df.join(df_temp)
    return [df, data]

In [6]:
[df_old, data] = get_data(symbols, dates)

In [9]:
df_old.size/3

1827

In [11]:
data

[                 Open       High        Low      Close    Volume  Adj Close
 Date
 2016-10-12  45.779999  45.820000  45.419998  45.470001   1730400  45.470001
 2016-10-11  47.189999  47.189999  45.419998  45.689999   2912500  45.689999
 2016-10-10  47.580002  48.150002  47.549999  47.689999   1544900  47.689999
 2016-10-07  47.330002  47.490002  46.990002  47.380001   1663100  47.380001
 2016-10-06  47.009998  47.430000  46.880001  47.299999   1772800  47.299999
 2016-10-05  47.040001  47.310001  46.930000  47.150002   1431900  47.150002
 2016-10-04  47.070000  47.299999  46.669998  46.830002   1764000  46.830002
 2016-10-03  46.820000  47.230000  46.820000  47.139999   1538800  47.139999
 2016-09-30  46.500000  47.320000  46.299999  47.090000   1754300  47.090000
 2016-09-29  47.049999  47.270000  46.139999  46.410000   1938200  46.294998
 2016-09-28  46.900002  47.259998  46.520000  47.180000   1502500  47.063091
 2016-09-27  46.529999  46.709999  46.230000  46.700001   1587100  46.584281
 2016-09-26  46.459999  46.770000  46.160000  46.570000   2639100  46.454602
 2016-09-23  46.430000  46.869999  46.310001  46.610001   1957000  46.494504
 2016-09-22  46.380001  46.700001  46.290001  46.669998   1306400  46.554353
 2016-09-21  45.980000  46.250000  45.410000  46.040001   1612600  45.925916
 2016-09-20  45.330002  45.950001  45.150002  45.709999   2333000  45.596732
 2016-09-19  44.900002  45.480000  44.860001  44.950001   1927900  44.838617
 2016-09-16  45.389999  45.389999  44.740002  44.790001   2592900  44.679014
 2016-09-15  44.860001  45.680000  44.810001  45.439999   1734000  45.327401
 2016-09-14  45.009998  45.099998  44.599998  44.860001   1604800  44.748840
 2016-09-13  45.360001  45.419998  44.610001  44.900002   3461800  44.788742
 2016-09-12  44.590000  45.810001  44.470001  45.750000   1835400  45.636634
 2016-09-09  46.509998  46.529999  44.869999  44.880001   2507000  44.768791
 2016-09-08  47.070000  47.160000  46.939999  47.020000    884700  46.903488
 2016-09-07  47.070000  47.169998  46.860001  47.110001   1542400  46.993265
 2016-09-06  46.900002  47.110001  46.720001  46.950001   1460900  46.833661
 2016-09-02  47.230000  47.389999  46.889999  47.000000   1424500  46.883537
 2016-09-01  47.029999  47.220001  46.810001  46.990002   1257900  46.873563
 2016-08-31  47.119999  47.189999  46.810001  46.980000   1676600  46.863586
 ...               ...        ...        ...        ...       ...        ...
 2011-11-23  35.010001  35.119996  33.599994  33.599994   5950400  22.901863
 2011-11-22  35.620005  36.120001  35.040004  35.580008   3709300  24.251447
 2011-11-21  35.810007  35.989999  34.880002  35.790003   5598900  24.394581
 2011-11-18  37.499994  37.499994  36.610000  36.809996   5323400  25.089811
 2011-11-17  38.339997  38.560000  36.900000  37.209994   6292100  25.362451
 2011-11-16  37.340008  39.390006  37.190000  38.580004  11574200  26.296254
 2011-11-15  37.960006  38.569996  37.209994  38.250006   5856600  26.071327
 2011-11-14  37.129999  37.810001  36.999998  37.550001   3646000  25.594201
 2011-11-11  37.599992  38.200002  37.209994  37.459997   5475300  25.532854
 2011-11-10  36.900000  37.489997  36.380000  36.860003   5333600  25.123896
 2011-11-09  37.410006  37.640002  35.690002  36.069994   9209700  24.585423
 2011-11-08  38.019994  38.789999  37.550001  38.750002   5024700  26.412125
 2011-11-07  36.800002  37.849998  36.449998  37.740003   5491100  25.723707
 2011-11-04  36.570003  37.060002  35.820004  36.909997   4422700  25.157972
 2011-11-03  36.809996  37.450003  36.040006  37.129999   6497500  25.307926
 2011-11-02  35.820004  36.549996  35.500000  36.159998   5647400  24.646770
 2011-11-01  35.240000  36.059997  34.660000  35.290007  10616700  24.053782
 2011-10-31  39.850005  39.969994  37.069998  37.069998  10448500  25.267030
 2011-10-28  39.839995  41.050006  39.700000  40.890004   8831700  27.870758
 2011-10-27  37.800004  40.400005  37.060002  39.999997  12472800  27.264126
 2011-10-26  35.980005  36.059997  34.829995  35.790003   8705200  24.394581
 2011-10-25  36.950007  37.389999  35.820004  35.929998   7371100  24.490002
 2011-10-24  35.590004  37.729993  35.439999  37.540004   8540800  25.587387
 2011-10-21  34.279995  35.439999  34.209998  35.270004   6025700  24.040147
 2011-10-20  33.129999  33.849997  32.480000  33.729992   6738500  22.990471
 2011-10-19  33.310007  33.810000  32.839998  32.990003   4883400  22.486092
 2011-10-18  33.030001  33.719999  32.140006  33.480003   8460100  22.820077
 2011-10-17  33.020004  33.459999  32.760004  33.069998   6988900  22.540616
 2011-10-14  33.160002  33.550000  33.020004  33.339994   8137100  22.724647
 2011-10-13  33.329997  33.410005  31.890001  32.470004  11806500  22.131659

 [1258 rows x 6 columns],
                  Open       High        Low      Close    Volume  Adj Close
 Date
 2016-10-12  27.520000  27.520000  27.020000  27.110001  19056200  27.110001
 2016-10-11  29.730000  29.730000  27.889999  27.910000  32668200  27.910000
 2016-10-10  31.570000  31.959999  31.370001  31.510000   9119000  31.510000
 2016-10-07  32.020000  32.099998  31.030001  31.370001   7858600  31.370001
 2016-10-06  31.070000  32.020000  31.070000  31.780001  10026500  31.780001
 2016-10-05  10.249999  10.410000  10.170000  10.400000  29736800  31.199999
 2016-10-04  10.059990  10.209989   9.989989  10.199989  10663500  30.599968
 2016-10-03  10.139989  10.159989   9.959989  10.119990   5460900  30.359969
 2016-09-30   9.979990  10.189989   9.949990  10.139989   7629600  30.419968
 2016-09-29   9.879989  10.099989   9.829990   9.959989   8960600  29.879968
 2016-09-28   9.689990   9.879989   9.579990   9.879989   5916000  29.639968
 2016-09-27   9.619990   9.659990   9.499990   9.649990   3823400  28.949971
 2016-09-26   9.759990   9.859990   9.679990   9.679990   3370500  29.039971
 2016-09-23   9.739990   9.889990   9.699990   9.759990   4048800  29.279970
 2016-09-22   9.799990   9.959989   9.749990   9.779990   5106000  29.339970
 2016-09-21   9.539990   9.679990   9.449990   9.669990   5213600  29.009970
 2016-09-20   9.359990   9.479990   9.309990   9.439990   5208000  28.319970
 2016-09-19   9.549990   9.549990   9.299990   9.359990   6910300  28.079971
 2016-09-16   9.389990   9.469990   9.339990   9.439990   5431100  28.319970
 2016-09-15   9.399990   9.519990   9.369990   9.469990   5011800  28.409970
 2016-09-14   9.689990   9.689990   9.359990   9.389990   5239300  28.169971
 2016-09-13   9.629990   9.649990   9.449990   9.519990   6169100  28.559970
 2016-09-12   9.519990   9.799990   9.429990   9.779990   7227100  29.339970
 2016-09-09  10.049989  10.049989   9.489990   9.599990  11247400  28.799969
 2016-09-08  10.259990  10.259990  10.049989  10.119990   4558700  30.359969
 2016-09-07  10.299989  10.329989  10.129989  10.209989   4551700  30.629967
 2016-09-06  10.179990  10.319989  10.119990  10.319989   4254500  30.959967
 2016-09-02  10.199989  10.269989  10.009990  10.129989   5653600  30.389968
 2016-09-01  10.089990  10.189989  10.049989  10.129989   4480600  30.389968
 2016-08-31  10.079989  10.179990  10.019989  10.079989   5296000  30.239968
 ...               ...        ...        ...        ...       ...        ...
 2011-11-23   9.099990   9.149991   8.869991   8.879991  12011500  25.193624
 2011-11-22   9.479990   9.519990   9.179991   9.259991   9733400  26.271731
 2011-11-21   9.529990   9.589990   9.269990   9.469990  11093700  26.867525
 2011-11-18   9.759990   9.859990   9.609990   9.689990   7442100  27.491692
 2011-11-17  10.039990  10.099989   9.579990   9.619990  13120300  27.293094
 2011-11-16  10.229990  10.279989   9.949990   9.969990  11548800  28.286085
 2011-11-15  10.289990  10.459989  10.189989  10.359989   8201900  29.392562
 2011-11-14  10.529989  10.629989  10.309989  10.379989   7688100  29.449304
 2011-11-11  10.319989  10.649989  10.319989  10.599989   7549600  30.073470
 2011-11-10  10.349989  10.409989  10.129989  10.249989   7642000  29.080479
 2011-11-09  10.429989  10.509989  10.159989  10.199989  11375600  28.938623
 2011-11-08  10.829989  10.859989  10.589989  10.779989  11043300  30.584153
 2011-11-07  10.859989  11.019989  10.579989  10.749989  11225600  30.499039
 2011-11-04  10.819988  10.989989  10.599989  10.929989   8332100  31.009721
 2011-11-03  10.859989  10.929989  10.559989  10.869989   8896200  30.839494
 2011-11-02  10.649989  10.779989  10.499989  10.699988   9272700  30.357181
 2011-11-01  10.219989  10.719989  10.049989  10.399989  15376800  29.420935
 2011-10-31  11.339988  11.339988  10.759988  10.759988  13051000  30.439350
 2011-10-28  11.239989  11.659988  11.179989  11.569988  10859300  32.730788
 2011-10-27  10.919988  11.479988  10.909988  11.339988  20813500  32.080134
 2011-10-26  10.349989  10.439989  10.089990  10.359989   9629300  29.307776
 2011-10-25  10.539989  10.559989  10.129989  10.139989  10593900  28.685411
 2011-10-24  10.329989  10.659989  10.249989  10.579989  12230700  29.930142
 2011-10-21  10.129989  10.229990  10.049989  10.229990   9555600  28.940015
 2011-10-20   9.919990  10.029990   9.729990   9.949990  12214600  28.147913
 2011-10-19  10.069989  10.099989   9.729990   9.769990  11791200  27.638704
 2011-10-18   9.709990  10.199989   9.549990  10.139989  16040200  28.685411
 2011-10-17  10.319989  10.329989   9.549990   9.579990  18878600  27.101206
 2011-10-14  10.289990  10.419989  10.039990  10.259990  12728100  29.024884
 2011-10-13   9.999990  10.149990   9.779990  10.099989  14182100  28.572252

 [1258 rows x 6 columns],
                   Open        High         Low       Close   Volume  \
 Date
 2016-10-12  146.630005  149.070007  146.570007  147.960007   513000
 2016-10-11  147.960007  148.470001  146.449997  146.759995   628600
 2016-10-10  149.000000  149.820007  147.809998  148.059998   436400
 2016-10-07  149.389999  149.669998  147.229996  148.130005   396800
 2016-10-06  148.669998  149.089996  147.419998  148.710007   608400
 2016-10-05  147.619995  149.399994  147.500000  148.929993   699000
 2016-10-04  147.320007  148.089996  146.110001  146.539993   592300
 2016-10-03  148.529999  149.259995  146.559998  146.940002   627500
 2016-09-30  147.110001  149.509995  146.259995  149.119995  1065500
 2016-09-29  148.919998  148.929993  146.080002  146.740005   811900
 2016-09-28  151.250000  151.339996  148.690002  149.000000  1120600
 2016-09-27  151.580002  152.699997  150.589996  151.009995  1151000
 2016-09-26  148.729996  150.240005  147.800003  150.100006   997000
 2016-09-23  149.000000  149.820007  148.229996  149.240005  1375900
 2016-09-22  147.619995  149.740005  147.000000  149.149994  1569300
 2016-09-21  145.580002  146.570007  145.149994  146.330002  1117000
 2016-09-20  149.050003  149.259995  145.279999  145.889999  1197100
 2016-09-19  148.110001  148.970001  147.440002  148.440002   972000
 2016-09-16  148.259995  148.990005  147.729996  148.110001   961300
 2016-09-15  150.490005  150.850006  148.710007  148.940002  1049300
 2016-09-14  151.539993  152.490005  150.139999  150.720001   701000
 2016-09-13  152.929993  154.009995  150.660004  151.179993  1177000
 2016-09-12  152.720001  153.880005  151.419998  153.369995  2165300
 2016-09-09  156.860001  157.740005  152.960007  152.960007  1497800
 2016-09-08  160.669998  161.139999  157.210007  158.869995  1739200
 2016-09-07  160.300003  162.279999  160.020004  161.880005   908600
 2016-09-06  158.809998  160.860001  158.729996  160.139999   724400
 2016-09-02  158.789993  159.649994  158.050003  158.570007   635300
 2016-09-01  158.199997  159.619995  157.750000  158.759995   721400
 2016-08-31  156.789993  157.860001  155.889999  157.380005   699500
 ...                ...         ...         ...         ...      ...
 2011-11-23   66.570000   67.300003   66.550003   66.849998   649400
 2011-11-22   67.370003   67.550003   66.849998   66.949997  1134100
 2011-11-21   66.889999   67.919998   66.580002   67.540001   677600
 2011-11-18   67.849998   68.519997   67.379997   67.949997   570900
 2011-11-17   67.160004   67.800003   67.010002   67.559998  1288100
 2011-11-16   68.070000   68.089996   66.870003   67.010002  1261000
 2011-11-15   68.120003   69.000000   67.690002   68.449997   797500
 2011-11-14   69.800003   70.029999   68.779999   68.980003  1060600
 2011-11-11   70.180000   70.809998   69.669998   70.279999  1184100
 2011-11-10   67.400002   71.000000   67.000000   69.510002  2918700
 2011-11-09   66.699997   68.029999   65.889999   66.370003  1329100
 2011-11-08   66.879997   67.889999   65.750000   67.690002  1278000
 2011-11-07   66.089996   66.660004   65.389999   66.449997   895300
 2011-11-04   65.650002   66.019997   64.790001   66.019997   623400
 2011-11-03   64.980003   66.190002   64.250000   66.070000   647200
 2011-11-02   65.519997   65.519997   64.379997   64.900002   564800
 2011-11-01   63.509998   65.559998   63.020000   64.820000   823900
 2011-10-31   65.309998   66.089996   64.949997   65.070000   485700
 2011-10-28   65.889999   66.930000   65.260002   65.669998   484200
 2011-10-27   65.070000   66.610001   64.820000   65.989998   887700
 2011-10-26   63.840000   64.000000   62.630001   63.340000   727800
 2011-10-25   63.220001   63.900002   63.200001   63.540001   439300
 2011-10-24   63.290001   64.110001   62.750000   63.549999   592000
 2011-10-21   63.000000   63.419998   62.470001   62.919998   434500
 2011-10-20   61.759998   62.669998   61.610001   62.380001  1043200
 2011-10-19   61.310001   62.230000   61.110001   61.799999  1002100
 2011-10-18   59.830002   61.930000   59.480000   61.580002  1094500
 2011-10-17   60.520000   61.230000   59.320000   59.580002  1013600
 2011-10-14   60.400002   60.779999   59.619999   60.740002   519700
 2011-10-13   59.950001   60.360001   59.250000   59.799999   682800

              Adj Close
 Date
 2016-10-12  147.960007
 2016-10-11  146.759995
 2016-10-10  148.059998
 2016-10-07  148.130005
 2016-10-06  148.710007
 2016-10-05  148.929993
 2016-10-04  146.539993
 2016-10-03  146.940002
 2016-09-30  149.119995
 2016-09-29  146.740005
 2016-09-28  149.000000
 2016-09-27  151.009995
 2016-09-26  150.100006
 2016-09-23  149.240005
 2016-09-22  149.149994
 2016-09-21  146.330002
 2016-09-20  145.829999
 2016-09-19  148.378953
 2016-09-16  148.049087
 2016-09-15  148.878748
 2016-09-14  150.658014
 2016-09-13  151.117817
 2016-09-12  153.306918
 2016-09-09  152.897099
 2016-09-08  158.804656
 2016-09-07  161.813428
 2016-09-06  160.074138
 2016-09-02  158.504792
 2016-09-01  158.694701
 2016-08-31  157.315279
 ...                ...
 2011-11-23   66.093787
 2011-11-22   66.192654
 2011-11-21   66.775984
 2011-11-18   67.181342
 2011-11-17   66.795754
 2011-11-16   66.251980
 2011-11-15   67.675686
 2011-11-14   68.199697
 2011-11-11   69.484987
 2011-11-10   68.723700
 2011-11-09   65.619221
 2011-11-08   66.924289
 2011-11-07   65.698310
 2011-11-04   65.273174
 2011-11-03   65.322611
 2011-11-02   64.165848
 2011-11-01   64.086751
 2011-10-31   64.333923
 2011-10-28   64.927135
 2011-10-27   65.243515
 2011-10-26   62.623494
 2011-10-25   62.821232
 2011-10-24   62.831117
 2011-10-21   62.208243
 2011-10-20   61.674354
 2011-10-19   61.100913
 2011-10-18   60.883405
 2011-10-17   58.906029
 2011-10-14   60.052907
 2011-10-13   59.123538

 [1258 rows x 6 columns]]

In [127]:
df_old.isnull().values.any()

True

In [128]:
df_old.isnull().sum().sum()

1707

In [119]:
len(dates)

1827

In [16]:
def get_stocks_info(symbol):
    dict_stocks = ystockquote.get_historical_prices(symbol, '2011-10-13', '2016-10-12')
    json_str = json.dumps(dict_stocks)
    df =pd.read_json(json_str,orient='index')
    df = df.reindex(df.index.rename('Date'))
    return df

In [14]:
def fill_missing(df):
    df.fillna(method='ffill', inplace=True)
    df.fillna(method='bfill', inplace=True)

In [35]:
df = get_stocks_info('GOOGL')

In [54]:
ticker='GOOGL'

In [45]:
fill_missing(s)

In [37]:
new_df = df.filter(['Date','Adj Close'], axis=1)

In [38]:
new_df.isnull().values.any()

False

In [39]:
s = new_df.reindex(dates, fill_value=np.nan)

In [40]:
s.isnull().values.any()

True

In [43]:
s.isnull().sum().sum()*3

1707

In [61]:
s = s.reindex(s.index.rename('Date'))

In [62]:
s

             Adj Close
Date
2011-10-13  279.774784
2011-10-14  296.136143
2011-10-15  296.136143
2011-10-16  296.136143
2011-10-17  291.496494
2011-10-18  295.550541
2011-10-19  290.640659
2011-10-20  292.127140
2011-10-21  295.540531
2011-10-22  295.540531
2011-10-23  295.540531
2011-10-24  298.508518
2011-10-25  291.871860
2011-10-26  293.448460
2011-10-27  299.634647
2011-10-28  300.370365
2011-10-29  300.370365
2011-10-30  300.370365
2011-10-31  296.616611
2011-11-01  289.614628
2011-11-02  292.702702
2011-11-03  299.049046
2011-11-04  298.368382
2011-11-05  298.368382
2011-11-06  298.368382
2011-11-07  304.469486
2011-11-08  306.476475
2011-11-09  300.775791
2011-11-10  297.837833
2011-11-11  304.479496
...                ...
2016-09-13  788.719971
2016-09-14  790.460022
2016-09-15  801.229980
2016-09-16  797.969971
2016-09-17  797.969971
2016-09-18  797.969971
2016-09-19  795.390015
2016-09-20  799.780029
2016-09-21  805.030029
2016-09-22  815.950012
2016-09-23  814.960022
2016-09-24  814.960022
2016-09-25  814.960022
2016-09-26  802.650024
2016-09-27  810.729980
2016-09-28  810.059998
2016-09-29  802.640015
2016-09-30  804.059998
2016-10-01  804.059998
2016-10-02  804.059998
2016-10-03  800.380005
2016-10-04  802.789978
2016-10-05  801.229980
2016-10-06  803.080017
2016-10-07  800.710022
2016-10-08  800.710022
2016-10-09  800.710022
2016-10-10  814.169983
2016-10-11  809.570007
2016-10-12  811.770020

[1827 rows x 1 columns]

In [12]:
def smavg(df, N):
    return pd.rolling_mean(df, N)[N - 1:]


def expmavg(df, span):
    return pd.ewma(df, span=span)


def com_daily_returns(df):
    daily_returns = (df / df.shift(1)) - 1
    return daily_returns


def com_momentum(df, n):
    mom = (df / df.shift(n))
    return mom


def com_rsi(df, n):
    df = df.diff()
    df = df[1:]
    up, down = df.copy(), df.copy()
    up[up < 0] = 0
    down[down > 0] = 0
    roll_up = pd.rolling_mean(up, n)
    roll_down = pd.rolling_mean(down.abs(), n)
    rs = roll_up / roll_down
    rss = 100.0 - (100.0 / (1.0 + rs))
    return rss

def BBW(data,length):
    return 4*pd.stats.moments.rolling_std(data,length)

def com_williamspercent(df):
    high=pd.rolling_max(df,2)
    low=pd.rolling_min(df,2)
    return ((high-df)/(high-low))*100

In [63]:
df.head()

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2011-10-13,279.774784,558.990018,559.000018,548.019981,550.029993,11363800
2011-10-14,296.136143,591.680013,599.600003,587.569992,599.470006,17042700
2011-10-17,291.496494,582.409995,591.830010,577.999981,583.720024,8008300
2011-10-18,295.550541,590.509981,592.559992,577.399996,580.189989,7593900
2011-10-19,290.640659,580.700037,592.060004,579.220012,587.339997,5857100

In [130]:
temp_df = s.copy()
comp_temp = df.copy()
volume = comp_temp['Volume']
high = comp_temp['High']
close = comp_temp['Close']
low = comp_temp['Low']
# print type(volume)
sum_data = temp_df.join(high)
sum_data =sum_data.join(close)
sum_data =sum_data.join(low)
sum_data =sum_data.join(volume)
fill_missing(sum_data)
sum_data = sum_data[['High','Low','Close','Volume']]
low = sum_data['Low']
high =sum_data['High']
volume = sum_data['Volume']
close = sum_data['Close']
sma10 = smavg(temp_df, 3)
print temp_df.head()
print sma10.head()
sma10 = sma10.rename(columns={'Adj Close':'sma10'})
print temp_df.head()
print sma10.head()
sma20 = smavg(temp_df, 20)
sma20 = sma20.rename(columns={'Adj Close':'sma20'})
sma30 = smavg(temp_df, 30)
sma30 = sma30.rename(columns={'Adj Close':'sma30'})
ema10 = expmavg(temp_df, 10)
ema10 = ema10.rename(columns={'Adj Close':'ema10'})
ema20 = expmavg(temp_df, 20)
ema20 = ema20.rename(columns={'Adj Close':'ema20'})
ema30 = expmavg(temp_df, 30)
ema30 = ema30.rename(columns={'Adj Close':'sma30'})
mom = com_momentum(temp_df, 10)
mom = mom.rename(columns={'Adj Close':'mom'})
drr = com_daily_returns(temp_df)
drr = drr.rename(columns={'Adj Close':'drr'})
bbw = BBW(temp_df, 20)
bbw = bbw.rename(columns={'Adj Close':'bbw'})
will = com_williamspercent(temp_df)
will = will.rename(columns={'Adj Close':'will'})
rsi = com_rsi(temp_df, 10)
rsi = rsi.rename(columns={'Adj Close':'rsi'})
rsi = rsi.dropna()
# print rsi.shape
rsi = rsi.join(drr)
rsi = rsi.join(mom)
rsi = rsi.join(bbw)
# rsi = rsi.join(will)
rsi = rsi.join(ema10)
rsi = rsi.join(ema20)
rsi = rsi.join(ema30)
rsi = rsi.join(sma10)
rsi = rsi.join(sma20)
rsi = rsi.join(sma30)
# print rsi.shape
rsi = rsi.join(volume)
rsi = rsi.join(high)
rsi = rsi.join(close)
temp_df = temp_df.shift(-n)
#print temp_df
rsi = rsi.join(temp_df)
# print rsi.shape

rsi = rsi.dropna()

             Adj Close
Date
2011-10-13  279.774784
2011-10-14  296.136143
2011-10-15  296.136143
2011-10-16  296.136143
2011-10-17  291.496494
             Adj Close
Date
2011-10-15  290.682357
2011-10-16  296.136143
2011-10-17  294.589593
2011-10-18  294.394393
2011-10-19  292.562565
             Adj Close
Date
2011-10-13  279.774784
2011-10-14  296.136143
2011-10-15  296.136143
2011-10-16  296.136143
2011-10-17  291.496494
                 sma10
Date
2011-10-15  290.682357
2011-10-16  296.136143
2011-10-17  294.589593
2011-10-18  294.394393
2011-10-19  292.562565

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:2: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=3,center=False).mean()
  from ipykernel import kernelapp as app
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:2: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=20,center=False).mean()
  from ipykernel import kernelapp as app
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:2: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=30,center=False).mean()
  from ipykernel import kernelapp as app
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:6: FutureWarning: pd.ewm_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.ewm(ignore_na=False,span=10,min_periods=0,adjust=True).mean()
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:6: FutureWarning: pd.ewm_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.ewm(ignore_na=False,span=20,min_periods=0,adjust=True).mean()
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:6: FutureWarning: pd.ewm_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.ewm(ignore_na=False,span=30,min_periods=0,adjust=True).mean()
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:32: FutureWarning: pd.rolling_std is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=20,center=False).std()
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:35: FutureWarning: pd.rolling_max is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=2,center=False).max()
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:36: FutureWarning: pd.rolling_min is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=2,center=False).min()
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:25: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=10,center=False).mean()
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:26: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=10,center=False).mean()

ValueError: columns overlap but no suffix specified: Index([u'sma30'], dtype='object')

In [101]:
ti = pd.DataFrame({
        'sma10': sma10,
         'sma20': sma20,
#         'sma30': sma30,
#         'ema10': ema10,
#         'ema20': ema20,
#         'ema30': ema30,
#         'drr':drr,
#         'bbw':bbw,
#         'rsi':rsi,
#         'will':will,
#         'mom':mom,
#         'volume':volume,
#         'high':high,
#        'close':close
    },index=s.index)

ValueError: Shape of passed values is (2, 1825), indices imply (2, 1827)

In [131]:
X=pd.concat([ema10,ema20,sma10,rsi,drr,mom,will], axis=1).dropna()

In [158]:
Y=pd.concat([X.copy(),s.copy()], axis=1,join_axes=[X.index]).dropna()

In [164]:
index_values = X.index.values

In [194]:
Y = s.reindex(index_values, fill_value=np.nan)

In [195]:
Y=Y.reset_index()

In [196]:
Y=Y[Y['Date'].isin(index_values)]

In [202]:
Y = Y.set_index('Date')

In [208]:
Y = Y.reset_index(drop=True)
X=X.reset_index(drop=True)
df.head()

    Adj Close
0  289.614628
1  292.702702
2  299.049046
3  298.368382
4  304.469486

In [204]:
Y.shape

(1245, 1)

In [154]:
X.shape

(1245, 15)

In [120]:
tscv = TimeSeriesSplit(n_splits=3)

In [214]:
for train_index, test_index in tscv.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    train_index = hash(tuple(train_index))
    X_train = X[[]]#, X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    min_error = 10000000000
    error = []
    deg = [2,3,4,5,6]
    degr = 2
    # pca = PCA(n_components=15)
    # train_data = pca.fit_transform(train_data)
    # test_data = pca.fit_transform(test_data)
    for i in range(2,7):
        poly = PolynomialFeatures(degree=i)
        train_data_ = poly.fit_transform(train_data)
        test_data_ = poly.fit_transform(test_data)
        clf = linear_model.LinearRegression()
        clf.fit(train_data_, train_label)
        predict = clf.predict(test_data_)
        mse = MSE(predict,test_label)
        error.append(mse)
        # print mse[0]
        if( mse[0] < min_error ):
            min_error = mse[0]
            degr = i
    plt.title('MSE vs Degree')
    plt.plot(deg,error)
    plt.xlabel('Degree')
    plt.ylabel('MSE')
    directory = './poly2/'
    if not os.path.exists(directory):
        os.makedirs(directory)
    plt.savefig(directory + 'MSE' + parameters + '.png')
    plt.close()

('TRAIN:', array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311]), 'TEST:', array([312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622]))

TypeError: unhashable type: 'numpy.ndarray'