In [23]:
import os
import pandas as pd
import numpy as np
import warnings
from datetime import datetime
from zipline.utils.factory import load_bars_from_yahoo
import pytz
import numpy as np
from sklearn import model_selection
from sklearn import preprocessing
import matplotlib.pyplot as plt
import ystockquote

In [88]:
symbols = ['A', 'AA', 'AAP']#, 'ABBV', 'ABT', 'ACN', 'ADBE', 'AES', 'AET', 'AFL']
start = datetime(2000, 1, 1, 0, 0, 0, 0, pytz.utc)
end = datetime(2016, 4, 30, 0, 0, 0, 0, pytz.utc)
dates = pd.date_range(start,end)

In [89]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-24',
               '2016-04-25', '2016-04-26', '2016-04-27', '2016-04-28',
               '2016-04-29', '2016-04-30'],
              dtype='datetime64[ns, UTC]', length=5965, freq='D')

In [90]:
dates = pd.date_range('2011-10-13', '2016-10-12')
dates

DatetimeIndex(['2011-10-13', '2011-10-14', '2011-10-15', '2011-10-16',
               '2011-10-17', '2011-10-18', '2011-10-19', '2011-10-20',
               '2011-10-21', '2011-10-22',
               ...
               '2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-08', '2016-10-09', '2016-10-10',
               '2016-10-11', '2016-10-12'],
              dtype='datetime64[ns]', length=1827, freq='D')

In [101]:
def get_data(symbols, dates):
    df = pd.DataFrame(index=dates)
    data = []
    for symbol in symbols:
        df_temp = pd.read_csv(os.path.join("Data/table_{}.csv".format(str(symbol))), index_col='Date',
                              parse_dates=True, usecols=['Date', 'Adj Close'], na_values=['nan'])
        df_comp = pd.read_csv(os.path.join("Data/table_{}.csv".format(str(symbol))), index_col='Date',
                              parse_dates=True, na_values=['nan'])
        data.append(df_comp)
        df_temp = df_temp.rename(columns={'Adj Close': symbol})
        #print df_temp
        df = df.join(df_temp)
    return [df, data]

In [117]:
[df_old, data] = get_data(symbols, dates)

In [127]:
df_old.isnull().values.any()

True

In [128]:
df_old.isnull().sum().sum()

1707

In [119]:
len(dates)

1827

In [94]:
def get_stocks_info(symbol):
    dict_stocks = ystockquote.get_historical_prices(symbol, '2011-10-13', '2016-10-12')
    json_str = json.dumps(dict_stocks)
    df =pd.read_json(json_str,orient='index')
    df = df.reindex(df.index.rename('Date'))
    return df

In [97]:
def fill_missing(df):
    df.fillna(method='ffill', inplace=True)
    df.fillna(method='bfill', inplace=True)

In [70]:
jso['2014-06-30']

{'Adj Close': '584.669983',
 'Close': '584.669983',
 'High': '587.710022',
 'Low': '583.289978',
 'Open': '586.76001',
 'Volume': '1478900'}

In [74]:
# jso = {'Date':jso}

In [76]:
df =pd.read_json(json.dumps(jso),orient='index')

In [81]:
df = df.reindex(df.index.rename('Date'))

In [112]:
df = get_stocks_info('A')

In [104]:
fill_missing(df)

In [113]:
new_df = df.filter(['Date','Adj Close'], axis=1)

In [114]:
new_df.isnull().values.any()

False

In [115]:
new_df

            Adj Close
Date
2011-10-13  22.067759
2011-10-14  22.659041
2011-10-17  22.475540
2011-10-18  22.754190
2011-10-19  22.421169
2011-10-20  22.924099
2011-10-21  23.970738
2011-10-24  25.513509
2011-10-25  24.419297
2011-10-26  24.324148
2011-10-27  27.185412
2011-10-28  27.790287
2011-10-31  25.194082
2011-11-01  23.984330
2011-11-02  24.575613
2011-11-03  25.234859
2011-11-04  25.085339
2011-11-07  25.649437
2011-11-08  26.335868
2011-11-09  24.514445
2011-11-10  25.051358
2011-11-11  25.459138
2011-11-14  25.520307
2011-11-15  25.996051
2011-11-16  26.220331
2011-11-17  25.289229
2011-11-18  25.017377
2011-11-21  24.324148
2011-11-22  24.181424
2011-11-23  22.835746
...               ...
2016-08-31  46.728284
2016-09-01  46.738233
2016-09-02  46.748178
2016-09-06  46.698446
2016-09-07  46.857589
2016-09-08  46.768071
2016-09-09  44.639538
2016-09-12  45.504875
2016-09-13  44.659431
2016-09-14  44.619644
2016-09-15  45.196535
2016-09-16  44.550020
2016-09-19  44.709162
2016-09-20  45.465089
2016-09-21  45.793322
2016-09-22  46.419944
2016-09-23  46.360268
2016-09-26  46.320481
2016-09-27  46.449786
2016-09-28  46.927214
2016-09-29  46.161339
2016-09-30  46.954045
2016-10-03  47.003900
2016-10-04  46.694798
2016-10-05  47.013873
2016-10-06  47.163438
2016-10-07  47.243209
2016-10-10  47.552311
2016-10-11  45.558086
2016-10-12  45.338723

[1258 rows x 1 columns]

In [130]:
s = new_df.reindex(dates, fill_value=np.nan)

In [131]:
s

            Adj Close
2011-10-13  22.067759
2011-10-14  22.659041
2011-10-15        NaN
2011-10-16        NaN
2011-10-17  22.475540
2011-10-18  22.754190
2011-10-19  22.421169
2011-10-20  22.924099
2011-10-21  23.970738
2011-10-22        NaN
2011-10-23        NaN
2011-10-24  25.513509
2011-10-25  24.419297
2011-10-26  24.324148
2011-10-27  27.185412
2011-10-28  27.790287
2011-10-29        NaN
2011-10-30        NaN
2011-10-31  25.194082
2011-11-01  23.984330
2011-11-02  24.575613
2011-11-03  25.234859
2011-11-04  25.085339
2011-11-05        NaN
2011-11-06        NaN
2011-11-07  25.649437
2011-11-08  26.335868
2011-11-09  24.514445
2011-11-10  25.051358
2011-11-11  25.459138
...               ...
2016-09-13  44.659431
2016-09-14  44.619644
2016-09-15  45.196535
2016-09-16  44.550020
2016-09-17        NaN
2016-09-18        NaN
2016-09-19  44.709162
2016-09-20  45.465089
2016-09-21  45.793322
2016-09-22  46.419944
2016-09-23  46.360268
2016-09-24        NaN
2016-09-25        NaN
2016-09-26  46.320481
2016-09-27  46.449786
2016-09-28  46.927214
2016-09-29  46.161339
2016-09-30  46.954045
2016-10-01        NaN
2016-10-02        NaN
2016-10-03  47.003900
2016-10-04  46.694798
2016-10-05  47.013873
2016-10-06  47.163438
2016-10-07  47.243209
2016-10-08        NaN
2016-10-09        NaN
2016-10-10  47.552311
2016-10-11  45.558086
2016-10-12  45.338723

[1827 rows x 1 columns]

In [132]:
s.isnull().values.any()

True

In [134]:
s.isnull().sum().sum()*3

1707